header{
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #00294b;
    z-index: 11;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logoetexto {
    position: relative;
    display: flex;
    align-items: center;
}

#nav_logo{
    font-size: 35px;
    color:rgb(252, 252, 252);
}

#textologo {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.nav-item.active a {
    color: #7f92ff;
    border-bottom: 3px solid #0000fc;
}

@media screen and (max-width: 1170px){
    #nav_list {
        display: none;
    }
} 